@model fastfood.Models.Page

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">


    <div class="col-md-12">

        <div class="card card-primary">
            <div class="card-header">
                <h3 style="font-weight: 700; text-align:center ">THÊM MỚI TIN TỨC</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form asp-controller="Pages" asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-body">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header p-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Thông tin</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Hình ảnh</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Trạng thái</a></li>
                                </ul>
                            </div><!-- /.card-header -->
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="activity">

                                        <div class="form-group">
                                            <label asp-for="PageName" class="control-label">Tên tin tức</label>
                                            <input asp-for="PageName" class="form-control" />
                                            <span asp-validation-for="PageName" class="text-danger"></span>
                                        </div>
                                        <style>
                                           
                                            #content {
                                                
                                                white-space: pre-line; /* Bảo toàn dấu xuống dòng và khoảng trắng */
                                                
                                            }
                                        </style>

                                        <div class="form-group">
                                            <label asp-for="Contents" class="control-label">Nội dung</label>
                                            <textarea asp-for="Contents" id="content" class="form-control" rows="10"></textarea>
                                            <span asp-validation-for="Contents" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <!-- /.tab-pane -->
                                    <div class="tab-pane" id="timeline">
                                        <div class="row">
                                            <div class="col-md12">
                                                <div class="form-group">
                                                    <label for="exampleInputFile">Hình ảnh tin tức</label>
                                                    <div class="input-group">
                                                        <div class="custom-file">
                                                            <input name="fThumb" asp-for="Thumb" type="file" class="custom-file-input" id="exampleInputFile" onchange="displayImage(this)">
                                                            <label class="custom-file-label" for="exampleInputFile">Chọn ảnh</label>
                                                        </div>

                                                    </div>
                                                    <span asp-validation-for="Thumb" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">

                                                    <img id="previewImage" src="#" alt="Ảnh xem trước" style="max-width: 100%; display: none;">
                                                </div>

                                            </div>
                                        </div>

                                     </div>
                                    <!-- /.tab-pane -->

                                    <div class="tab-pane" id="settings">
                                        <div class="form-group">
                                            <label for="Title">Hoạt động</label>
                                            <select asp-for="Title" class="form-control">
                                                <option value="true">True</option>
                                                <option value="false">False</option>
                                            </select>
                                            <span asp-validation-for="Title" class="text-danger"></span>
                                        </div>

                                        
                                    </div>
                                    <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div><!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.card-body -->

                    <div class="form-group">
                        <input type="submit" value="Thêm" class="btn btn-primary" />
                        <a class="btn btn-secondary" asp-action="Index">Quay lại</a>

                    </div>
                </div>
                
            </form>
        </div>

    </div>
    <div class="col-md-3">  </div>

</div>


