@model fastfood.Models.Product

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    
    
    <div class="col-md-12">

        <div class="card card-primary">
            <div class="card-header">
                <h3 style="font-weight: 700; text-align:center ">THÊM MỚI SẢN PHẨM</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form asp-controller="AdProducts" asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-body">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header p-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Thông tin</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Hình ảnh</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Trạng thái</a></li>
                                </ul>
                            </div><!-- /.card-header -->
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="activity">
                                        
                                        <div class="form-group">
                                            <label for="Name">Tên món</label>
                                            <input asp-for="ProName" class="form-control" />
                                            <span asp-validation-for="ProName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="ShortDesc">Mô tả</label>
                                            <input asp-for="ShortDesc" class="form-control" />
                                            <span asp-validation-for="ShortDesc" class="text-danger"></span>
                                        </div>
                                        <div class=" row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="Price">Giá</label>
                                                    <input asp-for="Price" class="form-control" />
                                                    <span asp-validation-for="Price" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="Discount">Giảm giá</label>
                                                    <input asp-for="Discount" class="form-control" />
                                                    <span asp-validation-for="Discount" class="text-danger"></span>
                                                </div>
                                            </div>                                          
                                        </div>
                                       
                                        <div class="form-group">
                                            <label for="CateId">Loại sản phẩm</label>

                                            <select asp-for="CateId" class="form-control" asp-items="ViewBag.CateId">
                                                <option value="" disabled selected>Chọn loại món</option>
                                            </select>

                                        </div>
                                        


                                    </div>
                                    <!-- /.tab-pane -->
                                    <div class="tab-pane" id="timeline">
                                        <div class="row">
                                            <div class="col-md12">
                                                <div class="form-group">
                                                    <label for="exampleInputFile">Hình ảnh sản phẩm</label>
                                                    <div class="input-group">
                                                        <div class="custom-file">
                                                            <input name="fThumb" asp-for="Thumb" type="file" class="custom-file-input" id="exampleInputFile" onchange="displayImage(this)">
                                                            <label class="custom-file-label" for="exampleInputFile">Chọn ảnh</label>
                                                        </div>
                                                        
                                                    </div>
                                                    <span asp-validation-for="Thumb" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    
                                                    <img id="previewImage" src="#" alt="Ảnh xem trước" style="max-width: 100%; display: none;">
                                                </div>

                                            </div>
                                        </div>
                                        
                                       
                                    </div>
                                    <!-- /.tab-pane -->

                                    <div class="tab-pane" id="settings">
                                        <div class="form-group">
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" id="customSwitch1"
                                                       checked="@(Model != null && Model.Hot.HasValue && Model.Hot.Value)">
                                                <label class="custom-control-label" for="customSwitch1">Bán chạy</label>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" id="customSwitch2"
                                                       checked="@(Model != null && Model.Active.HasValue && Model.Active.Value)">
                                                <label class="custom-control-label" for="customSwitch2">Hoạt động</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div><!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.card-body -->

                    <div class="form-group">
                        <input type="submit" value="Thêm" class="btn btn-primary" />
                        <a class="btn btn-secondary" asp-action="Index">Quay lại</a>

                    </div>
                </div>

            </form>
        </div>

    </div>
    <div class="col-md-3">  </div>

</div>

@section scripts{
    
    <script>
        
        document.addEventListener("DOMContentLoaded", function () {
            var switchElement = document.getElementById("customSwitch1");

            switchElement.addEventListener("change", function () {
                var isChecked = switchElement.checked;
                var hiddenInput = document.createElement("input");
                hiddenInput.type = "hidden";
                hiddenInput.name = "Hot";
                hiddenInput.value = isChecked;
                document.forms[0].appendChild(hiddenInput);
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var switchElement = document.getElementById("customSwitch2");

            switchElement.addEventListener("change", function () {
                var isChecked = switchElement.checked;
                var hiddenInput = document.createElement("input");
                hiddenInput.type = "hidden";
                hiddenInput.name = "Active";
                hiddenInput.value = isChecked;
                document.forms[0].appendChild(hiddenInput);
            });
        });
    </script>
    <script>
        function displayImage(input) {
            var fileInput = input.files[0];
            if (fileInput) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('previewImage').src = e.target.result;
                    document.getElementById('previewImage').style.display = 'block';
                };
                reader.readAsDataURL(fileInput);
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            CKEDITOR.replace('txtdesc', {
                customConfig: '~/ckeditor/config.js',
                extraAllowedContent: 'span'
            });
        });
        function BrowseServer(field) {
            var finder = new CKFinder();
            finder.selectActionFuntion = function (fileUrl) {
                document.getElementById(field).value = fileUrl;
            };
            finder.popup();
        }
    </script>
}
