@model fastfood.Models.Account
<div class="card">

    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered">
                <h4 style="font-weight: 700; text-align:center ">THÔNG TIN NGƯỜI DÙNG</h4>
                <thead>
                    <tr>
                        <th>Mã người dùng</th>
                        <th>Tên người dùng</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                        

                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        
                            <tr>
                                <td>@Model.Cus.CusId</td>
                                <td>@Model.Cus.CusName</td>
                                <td>@Model.Cus.Phone</td>
                                <td>@Model.Cus.Address</td>

                            </tr>
                        
                    }

                </tbody>
            </table>
            <div>
                <a class="btn btn-secondary" asp-action="Index">Quay lại</a>
            </div>

        </div>
    </div>
</div>

