@model fastfood.Models.Account

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<div>
    <h4 style="font-weight:700; text-align:center; margin-top:20px; margin-bottom:20px">THÔNG TIN TÀI KHOẢN</h4>
 <table class="table table-bordered">
     <tr>
         <th>Tên đăng nhập</th>
         <td> @Html.DisplayFor(model => model.UserName)</td>
     </tr>
     <tr>
         <th>Mật khẩu</th>
         <td>@Html.DisplayFor(model => model.Password)</td>
     </tr>
     <tr>
         <th>Ngày tạo</th>
            <td>
                @{
                    if (Model.CreateDate.HasValue)
                    {
                        <text>@Model.CreateDate.Value.ToShortDateString()</text>
                    }
                    else
                    {
                        <text>N/A</text>
                    }
                }
            </td>
     </tr>
     <tr>
         <th>Trạng thái</th>
         <td>
                @if (Model.Active != null)
                {
                    if (Model.Active == true)
                    {
                        <i class="fa-solid fa-check" style="color: #2fd501; font-size: 30px;"></i>
                    }
                    else
                    {
                        <i class="fa-solid fa-xmark" style="color: #ed3507; font-size: 30px;"></i>
                    }
                }
                else
                {
                    <span style="color: #999;">N/A</span>
                }
         </td>
     </tr>
     <tr>
         <th>
             Loại tài khoản
         </th>
         <td>
                @Html.DisplayFor(model => model.Role.RoleName)
         </td>
     </tr>
     <tr>
            @{
                Html.RenderPartial("Customer");
            }
     </tr>
 </table>
    
</div>

